body{
    background-color: rgb(224, 255, 255);
    height: 100vh;
}
.container{
    display: flex;
    justify-content:center;
    align-items:center;
    gap: 15px;
}

.card{
    width: 140px;
    height: 200px;
    background-color: aqua;
}